<h1>Listing mes</h1>

<table>
  <tr>
  </tr>

<% @mes.each do |me| %>
  <tr>
    <td><%= link_to 'Show', me %></td>
    <td><%= link_to 'Edit', edit_me_path(me) %></td>
    <td><%= link_to 'Destroy', me, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New me', new_me_path %>